---
---

@import "bootstrap";


body {
  font-family: consolas;
}

.h-inline {
  display: inline;
}
.h-post-date{
  float:right;
}

.h-navbar {
  margin-top:20px;
}

.container-fluid {
  max-width: 1600px; /* or 950px */
}
